<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%=blocks.title%></title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <%-blocks.addons%>
</head>
<body>
<header>
  <%-blocks.header%>
</header>
<div class="container">
  <%-body -%>
</div>
<footer>
  <%-blocks.footer%>
</footer>
</body>
</html>
